<section class="pt-4 pb-3" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="title">دسترسی سریع</div>
                <ul>
                    <li><a href="#">بلاگ آموزشی</a></li>
                    <li><a href="#">راهنمای خرید</a></li>
                    <li><a href="#">شیوه های پرداخت</a></li>
                    <li><a href="#">پیگیری سفارش</a></li>
                    <li><a href="#">سوالات متداول</a></li>
                    <li><a href="#">درباره ما</a></li>
                    <li><a href="#">تماس با ما</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="title">گروه های محصولات</div>
                <ul>
                    <li><a href="#">تجهیزات کامپیوتر</a></li>
                    <li><a href="#">گوشی موبایل</a></li>
                    <li><a href="#">جانبی موبایل</a></li>
                    <li><a href="#">ساعت هوشمند</a></li>
                    <li><a href="#">جانبی کامپیوتر</a></li>
                    <li><a href="#">دوربین</a></li>
                    <li><a href="#">لپ تاپ</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-2 d-none d-sm-inline-block">
                <div class="title">ناحیه کاربری</div>
                <ul>
                    <li><a href="#">ورود به سایت</a></li>
                    <li><a href="#">عضویت در سایت</a></li>
                    <li><a href="#">بازیابی رمز عبور</a></li>
                    <li><a href="#">سبد خرید</a></li>
                    <li><a href="#">پیش فاکتور</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
                <hr class="d-lg-none">
                <img src="/static/images/logo.png" alt=""> روبیک مارکت
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                <div class="row">
                    <div class="col-12 col-md-6 text-center p-2" id="encode43vfbb65gtabfb">
                        <div>7 روز هفته، 24 ساعت شبانه روز</div>
                        <div>پاسخگوی شما هستیم</div>
                        <div>09351234567</div>
                    </div>
                    <div class="col-12 col-md-6 pt-2 pt-md-0" id="encode43vfbbbfb">
                        <div class="row">
                            <div class="col-4 text-center">
                                <a href="#"><img src="/static/images/encode43vfbbbfb/enamad.html" alt=""></a>
                            </div>
                            <div class="col-4 text-center">
                                <a href="#"><img src="/static/images/encode43vfbbbfb/samandehi.html" alt=""></a>
                            </div>
                            <div class="col-4 text-center">
                                <a href="#"><img src="/static/images/encode43vfbbbfb/etehadiye.html" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Footer -->

<!-- Copyright -->
<section class="py-2" id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6" id="social-links">
                <span>ما را دنبال کنید</span>
                <a href="#"><img src="/static/images/social/insta.png" alt=""></a>
                <a href="#"><img src="/static/images/social/facebook.png" alt=""></a>
                <a href="#"><img src="/static/images/social/linkedin.png" alt=""></a>
                <a href="#"><img src="/static/images/social/twitter.png" alt=""></a>
                <a href="#"><img src="/static/images/social/youtube.png" alt=""></a>
            </div>
            <div class="col-12 col-sm-6 text-sm-end pt-2 pt-sm-0">
                <span>کلیه حقوق و مادی معنوی محفوط است.</span>
            </div>
        </div>
    </div>
</section>
<!-- Copyright -->