{% load static %}
<link rel="stylesheet" href="/static/css/bootstrap.rtl.min.css">
<link rel="stylesheet" href="/static/plugins/fontawesome/css/all.min.css">
<link rel="stylesheet" href="/static/plugins/aos-master/dist/aos.css">
<link rel="stylesheet" href="/static/plugins/hover-master/css/hover-min.css">
<link rel="stylesheet" href="/static/css/ionicons.css">
<link rel="stylesheet" href="/static/css/droopmenu.css">
<link rel="stylesheet" href="/static/css/highlight.css">
<link rel="stylesheet" href="/static/css/nouislider.min.css">
<link rel="stylesheet" href="/static/css/custom.css">

<link rel="stylesheet" href="/static/css/owl.carousel.min.css">
<link rel="stylesheet" href="/static/css/swiper-bundle.min.css">
<link rel="stylesheet" href="/static/css/product-gallery.css">
<link rel="stylesheet" href="/static/css/photoswipe.min.css"/>
<link rel="stylesheet" href="/static/css/default-skin.min.css"/>
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<link rel="stylesheet" href="/static/css/style.css">